
    
body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/52/408/926/blue-outer-space-colorful-stars-planets-earth-stardust-digital-art-artwork-cosmic-dust-1920x1200-space-planets-hd-art-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size:100%;
}
header{
    
}
h1{
    
    font-size:130px;
    color: aliceblue;
    
}
p{ 
    text-align:center;
    color:bisque;
    letter-spacing: 3px;
    word-spacing: 12px;
    line-height:1.5rem;
    font-size: 1.rem;
}

nav{

}
.banner{ 
    display: flex;
background-color:black;
height: 300px;

}
.banner__item{
    flex: 1;
    color: white;
    font-weight: bold;
    font-size:2.5rem; 
    display: flex;
    justify-content:center ;
    align-items:center;
}
.banner__item:hover{
    flex-grow:10 ;
    transition: flex-grow 1s;
}
.banner__item:hover .banner__title{
    transform: rotate(0);
}

.banner__item:nth-child(1){background-color:aqua;}
.banner__item:nth-child(2){background-color:rgb(28, 28, 210);}
.banner__item:nth-child(3){background-color:rgb(205, 93, 112);}
.banner__item:nth-child(4){background-color:rgb(42, 40, 37);}
.banner__item:nth-child(5){background-color:rgb(72, 15, 15);}
.banner__item:nth-child(6){background-color:rgb(42, 40, 37);}
.banner__item:nth-child(7){background-color:rgb(14, 53, 40);}
.banner__item:nth-child(8){background-color:rgb(140, 140, 249);}

.banner__title{
    margin:0 ;
    transform:rotate(-90deg);
    transition: transform 0.5s 0.s;

}

div a{
    text-decoration:none;
    color: aliceblue;
}
main{
    background-attachment:fixed; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(http://apod.nasa.gov/apod/image/1501/NGC6726_c80schedler.jpg);
    
}
footer{
    
    background-color: black;
    color:azure;
    
}